
 body {
 text-align: center;
  height: 40rem;
  background-image: url('http://i1377.photobucket.com/albums/ah67/Adi_Knapp/Green_background_zpsoxnvx2wm.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
 


